<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Developer Details</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<h1>Developer Details</h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Commits</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${developer.githubUsername}"></td>
        <td th:text="${developer.email}"></td>
        <td>
            <ul>
                <li th:each="commit : ${developer.commitList}" th:text="${commit.message}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
